@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto+Condensed:ital,wght@1,700&display=swap');

:root {
    --celeste:#538cc6;
}

* {
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    margin: 0;

}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    border-right: 2px solid rgba(0, 22, 22, 0.4);
    padding:0 5px 0 5px;
    
}

.menu ul {
    list-style: none;
    padding-left: 0;
    width: 100%;
}

.submenu {
    display: none;
}

.submenu li {
    margin-left: 20px;
    border-left: #4d4e53;
}

.dropdown:hover .submenu {
    display: block;
}

.dropdown:hover .dropdown-icon {
    transform: rotate(180deg);
}

.dropdown {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #4d4e53;
    border-radius: 5px;
    padding: 10px;
}


.aplicar-filtros {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

h1, h2 {
    text-align: center;
    margin: 20px;
}

main {
    margin-left: 200px;
    padding: 0 10px;
}

.archivos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    gap: 5px;
}

.archivo {
    border-radius: 5px;
    border: 1px solid black;
    height: 200px;
}
