@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
:root {
    --blanco: #fff;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url("fiubaRojo.jpg");
    background-position: center;
    background-size: cover;
}

.contenedor{
    position: relative;
    width: 90%;
    max-width: 400px;
    height: 450px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    backdrop-filter: blur(7px);
    background-color: rgba(255, 255, 255, 0.164);
}


h2{
    font-size: 2em;
    color: var(--blanco);
    text-align: center;
    margin: 30px;
    letter-spacing: 2px;
}

.descripcion {
    color: var(--blanco);
    text-align: center;
    width: 80%;
    font-size: 0.9em;
}

.form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset{
    position: relative;
    margin: 30px 0;
    width: 90%;
    border: none;
    border-bottom: 1px solid var(--blanco);
    
}

fieldset input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 0 0 10px;
    color: var(--blanco);

}


fieldset ion-icon{
    position: absolute;
    right: 8px;
    color: var(--blanco);
    font-size: 1.2em;
    top: 20px;
}

::placeholder {
    opacity: 1;
    color: #c9c6c6;
}

.submit{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    margin-top: 5px;
    transition: all 0.2s ease-in-out;
}

.submit:hover {
    background-color: var(--blanco);
    transform: scale(1.05);
}

.registrarse{
    font-size: .9em;
    text-align: center;
    margin: 25px 0 35px;
}

.registrarse a{
    text-decoration: none;
    color: var(--blanco);
}
.registrarse a:hover{
    text-decoration: underline;
}